.tasksList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasksList__taskItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasksList__taskItem--hidden {
    display: none;
}

.tasksList__taskContent--done {
    text-decoration: line-through;
}

.tasksList__taskButton {
    border: none;
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    padding: 0;
    background: red;
    cursor: pointer;
    transition: background-color 1s ease;
    border-radius: 4px;
}

.tasksList__taskButton--done {
    background: hsl(120, 61%, 30%);
}

.tasksList__taskButton:hover {
    background-color: darkred;
    transform: scale(1.1);
}

